<div class="responsive-marker">
    <div class="responsive-marker__item hidden xl:block rounded-full bg-red-900">xl</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item hidden lg:block rounded-full bg-red-800">lg</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item hidden md:block rounded-full bg-red-700">md</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item hidden sm:block rounded-full bg-red-600">sm</div>
    <!-- /.responsive-marker__item -->
    <div class="responsive-marker__item block rounded-full bg-red-500">xs</div>
    <!-- /.responsive-marker__item -->
</div>
<!-- /.tmp -->
