{% extends "../layout/base_layout.twig" %}

{% set header = '' %}

{% block content %}


  <main>
    <div class="max-w-7xl mx-auto px-4 xl:px-8 py-8 md:py-5 xl:py-8">
      <div class="flex flex-col">
        <p class="my-2"><a href="tech-list.html">tech-list</a></p>
        <p class="my-2"><a href="tech-item.html">tech-item</a></p>
        <p class="my-2"><a href="tech-item-2.html">tech-item-2</a></p>
      </div>
    </div>
  </main>




{% endblock %}
