<div class="tech-progress-container flex-1 ml-4 flex flex-col">
  <span class="text-sm font-medium text-success leading-tighter mb-1_5">Актуально</span>
  <div class="overflow-hidden h-0_5 flex rounded bg-gray-100 w-full tech-progress">
    <div style="width:50%" class="bg-green-400"></div>
{#    <div style="width:75%" class="bg-orange-400"></div>#}
{#    <div style="width:100%" class="bg-red-500"></div>#}
  </div>
</div>
