<div class="grid rounded-xl border border-indigo-100 bg-white tech-item">
  <section class="tech-info-container">
    {% include './tech-header.twig' %}
    {% include './tech-info.twig' %}
    {% include './tech-actions-container.twig' %}
  </section>
  {% include './tech-article-empty.twig' %}
  {% include './tech-rent-empty.twig' %}
  {% include './tech-sale-empty.twig' %}
</div>
