{% import "./tech-title.twig" as title %}
{% import "./tech-footer.twig" as footer %}

<section class="tech-sale-container xl:border-l">
  {{ title.get('Обьявления продажи (6/20)') }}
  {% include './tech-sale-table.twig' %}
  {{ footer.get('Опубликовать объявление продажи') }}
</section>
