<div class="relative">
  <div class="aspect-ratio-2/1 md:aspect-ratio-none"></div>
  <img src="http://placehold.it/185x144" class="absolute md:static left-0 top-0 w-full h-full object-cover rounded-xl">
</div>
