{% import "../icons/icons.twig" as icons %}

<div class="flex items-center flex-no-wrap border-t border-b tech-actions-container h-14 md:h-15">
  <div class="flex items-center font-bold text-success">
    {{ icons.get('checked', 'mr-2') }}
    Проверено
  </div>
  <div class="ml-auto -mr-3 flex items-center flex-no-wrap flex md:hidden">
    {% include './tech-actions-mobile.twig' %}
  </div>
  <div class="ml-auto -mr-2 flex items-center flex-no-wrap hidden md:flex">
    {% include './tech-actions-desktop.twig' %}
  </div>
</div>
<div class="py-4 md:hidden border-t border-b w-full -mt-px">
  <button class="btn w-full btn-warning h-12 font-bold">Заказ запастных частей</button>
</div>
