<div class="grid rounded-xl border border-indigo-100 bg-white tech-item">
  <section class="tech-info-container">
    {% include './tech-header-2.twig' %}
    {% include './tech-info.twig' %}
    {% include './tech-actions-container-2.twig' %}
  </section>
  {% include './tech-article.twig' %}
  {% include './tech-rent.twig' %}
  {% include './tech-sale.twig' %}
</div>
